# Ignore Terraform directories and state files
.terraform/  
*.terraform

# Ignore Terraform state files and backups
*.tfstate  
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl 
# Ignore projects directory
projects/